<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="jumbotron"><h1>Manage Application Objects</h1></div>

<div class="row">
    <div class="col-md-4">
        <h3>CPU</h3>
        <a href="~/CPU/Create" class="btn btn-primary btn-sm">Create</a>
        <a href="~/CPU/Index" class="btn btn-primary btn-sm">List</a>

    </div>
    <div class="col-md-4">
        <h3>GPU</h3>
        <a href="~/GPU/Create" class="btn btn-primary btn-sm">Create</a>
        <a href="~/GPU/Index" class="btn btn-primary btn-sm">List</a>
    </div>
    <div class="col-md-4">
        <h3>Motherboard</h3>
        <a href="~/Motherboard/Create" class="btn btn-primary btn-sm">Create</a>
        <a href="~/Motherboard/Index" class="btn btn-primary btn-sm">List</a>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h3>Optical Drives</h3>
        <a href="~/Optical/Create" class="btn btn-primary btn-sm">Create</a>
        <a href="~/Optical/Index" class="btn btn-primary btn-sm">List</a>
    </div>
    <div class="col-md-4">
        <h3>PSU</h3>
        <a href="~/PSU/Create" class="btn btn-primary btn-sm">Create</a>
        <a href="~/PSU/Index" class="btn btn-primary btn-sm">List</a>
    </div>
    <div class="col-md-4">
        <h3>RAM</h3>
        <a href="~/RAM/Create" class="btn btn-primary btn-sm">Create</a>
        <a href="~/RAM/Index" class="btn btn-primary btn-sm">List</a>
    </div>
</div>

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <h3>Storage</h3>
        <a href="~/Storage/Create" class="btn btn-primary btn-sm">Create</a>
        <a href="~/Storage/Index" class="btn btn-primary btn-sm">List</a>
    </div>
    <div class="col-md-4"></div>
</div>
