@{
    ViewBag.Title = "About";
}
<div class="jumbotron">
    <h1>About Us</h1>
    <h3>Your PC building consultant, here to serve your individual needs!</h3>
</div>
<br />
<p>This site is dedicated to allowing the average user to build a computer suited to their needs. No longer does the average person have to buy blindly or look for the most expensive computer they can find!</p>
<p>Simply click the "Build a PC!" button above and fill out a quick questionnaire. Your input on how you will use the computer will create a computer based directly on your needs, keeping your budget in mind!</p>
<p>Please note that the builds are tailored to <strong>both</strong> the budget you select and your needs filled in the questions. While a nice idea, a $300 computer will sadly not perform admirably to the needs of a video editor. Similarly, a $3000 computer is far too much money for the average user!</p>
<p>Once the build has been finished for you, simply print the results and take it to your local computer shop for them to build it for you. For those ready to take the first step to being a systems builder, the list can serve as your shopping list!</p>
<br />
<p>Don't worry, building a PC is far easier than you might expect! Simply search your favorite media content provider, such as YouTube, for instructional guides.</p>
