@{
    ViewBag.Title = "Contact";
}
<h2>Contact Us!</h2>
<h3>We'd love to hear from you.</h3>

<address>
    6301 Kirkwood Blvd SW<br />
    Cedar Rapids, IA 52404<br />
    <abbr title="Phone">P:</abbr>
    319.398.5411
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@pcbuilder.com</a><br />
    <strong>Builds Information:</strong> <a href="mailto:Marketing@example.com">Builder@pcbuilder.com</a>
</address>