@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>PCBuilder.com</h1>
    <p class="lead">Create the system you need without worry of getting an underperforming or overpriced system! </p> 
    <p>Simply complete one questionnaire and our team will create the build you need at the price you want...<em>immediately</em>!</p>
    <p><a href="~/Questionnaire/" class="btn btn-primary btn-lg">Let's get started! &raquo;</a></p>
</div>